/*-----RESET & VARIABLES-----*/

:root {
    /*---colors---*/
    --black: #121725;
    --gray-light: #C2CBE5;
    --gray-medium: #5A668A;
    --gray-dark: #2C344B;
    --neon: #54E6AF;
    --neon-light: #B3FFE2;
    --error: #FB3E3E;
    --white: #FFFFFF;
    /*---typography---*/
    font-family: "Chivo", sans-serif;
    font-size: 62.5%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-light);
    box-sizing: border-box;
    font-family: "Chivo", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


/*-----CONTAINERS (html order)-----*/

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 90rem;
    max-width: 144rem;
    background-color: var(--black);
    overflow: hidden;
}

section.main {
    position: absolute;
    height: 64rem;
    width: 127.5rem;
    right: 0;
    margin: 13rem 0 13rem 0;
}

div.logo {
    position: absolute;
    left: 0;
    top: -2.8rem;
}

div.background {
    height: 64rem;
    width: 127.5rem;
    position: absolute;
    right: 0;
    object-fit: contain;
    z-index: 0;
}

picture.background {
    position: absolute;
    right: 0;
    mix-blend-mode: screen;
}

div.content {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 56.71%;
    height: 79.53%;
    background-color: var(--black);
    z-index: 1;
}

div.form {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    width: 42.7rem;
    height: 5.6rem;
}

div.input-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.4rem;
    width: 53.6rem;
    height: 2.9rem;
}

div.graphic {
    position: absolute;
    right: 0;
    bottom: -5.2rem;
}

section.confirmation {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70vw;
    max-width: 53rem;
    margin: 10vh 15vw 0 15vw;
    padding: 0 4vw 10vw 4vw;
    border: 1px solid var(--neon);
}


/*-----ELEMENTS (alpha order)-----*/

h1.title {
    margin-bottom: 0;
    margin-top: 8.8rem;
    font-weight: 100;
    font-size: 5.2rem;
    line-height: 6.2rem;
    color: var(--white);
}


/* p.error-text {
    position: absolute;
    left: 0;
    top: 5.3rem;
    color: var(--error);
    font-size: 1.2rem;
    line-height: 1.428rem;
    padding-left: 3.2rem;
} */

span {
    text-transform: uppercase;
    display: block;
}


/*-----CLASSES & IDS (alpha order & by category)-----*/


/*---buttons---*/

.button {
    position: absolute;
    height: 4.6rem;
    width: 16.2rem;
    margin-right: 5px;
    border: none;
    padding: 0;
    background-color: var(--neon);
    box-shadow: 0 2.5rem 2rem -2rem rgba(84, 238, 175, 0.2);
    border-radius: 2.5rem;
}

.button:hover {
    background-color: var(--neon-light);
}

button {
    width: calc(70vw - 8rem);
    max-width: 45rem;
    height: 4.6rem;
    border: none;
    margin-top: 1.6rem;
    background-color: var(--neon);
    box-shadow: 0 2.5rem 2rem -2rem rgba(84, 238, 175, 0.2);
    border-radius: 2.5rem;
}

button:hover {
    background-color: var(--neon-light);
}


/*---form fields & labels---*/

input.form-field {
    height: 5.6rem;
    width: 42.7rem;
    border: none;
    background-color: var(--gray-dark);
    border-radius: 2.8rem;
    font-family: inherit;
    font-size: 1.4rem;
    color: var(--white);
    padding-left: 3.2rem;
}

input.form-field:hover,
input.form-field:focus {
    color: var(--white);
    font-weight: 900;
}

input.form-field::placeholder {
    color: var(--gray-light);
}


/*---icons---*/

img.apple {
    width: 7.8rem;
}

img.google {
    width: 12.5rem;
    height: 1.8rem;
}

img.pocket {
    width: 12.9rem;
}

img.spotify {
    width: 9.59rem;
}


/*---typography---*/

.body-text {
    font-weight: 100;
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 44.5rem;
    margin: 2.4rem 0 0 0;
}

.error-text {
    color: var(--error);
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    top: 5.3rem;
    padding-left: 3.2rem;
}

.neon {
    color: var(--neon)
}


/*-----MEDIA QUERIES-----*/

@media only screen and (max-width:76.8rem) {
    /*-----CONTAINERS (alpha)-----*/
    main {
        width: 100vw;
        max-width: 76.8rem;
        height: 102.4rem;
        margin: 0 0 0 0;
        align-items: flex-start;
    }
    section.main {
        width: 76.8rem;
        height: 102.4rem;
        margin: 0 0 0 0;
    }
    div.logo {
        top: 5rem;
        left: 3.9rem;
    }
    div.background {
        width: 49.1rem;
        height: 76.7rem;
    }
    div.content {
        height: 50.9rem;
        width: 63.5rem;
        bottom: unset;
        margin: 25.8rem 9.4rem 0 3.9rem;
    }
    div.graphic {
        right: unset;
        bottom: 0;
        left: 3rem;
    }
    /*-----ELEMENTS & CLASSES-----*/
    h1.title {
        font-size: 4.8rem;
        line-height: 5.6rem;
        margin-top: 9.3rem;
    }
    .body-text {
        margin-top: 3.1rem;
    }
}

@media only screen and (max-width:37.5rem) {
    main {
        width: 100vw;
        height: 66.7rem;
        flex-direction: column;
        align-items: center;
    }
    section.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: inherit;
        height: inherit;
    }
    div.logo {
        position: unset;
        display: block;
        top: unset;
        left: unset;
        margin-top: 6.2rem;
    }
    div.background {
        width: inherit;
        height: inherit;
    }
    picture.background {
        background-color: var(--neon);
        opacity: .2;
        mix-blend-mode: multiply;
    }
    div.content {
        position: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: unset;
        width: 32.7rem;
        height: 39.8rem;
        margin: 0 2.4rem 0 2.4rem;
    }
    div.icons {
        position: absolute;
        height: 3rem;
        width: 31.5rem;
        bottom: 24rem;
        margin: 0;
    }
    div.form {
        width: 32.7rem;
        height: auto;
        margin-top: 9.8rem;
    }
    form {
        width: 32.7rem;
    }
    div.input-group {
        flex-direction: column;
        justify-content: unset;
    }
    input.form-field {
        width: 32.7rem;
        padding: 0;
    }
    input.form-field::placeholder {
        padding-left: 3.2rem;
    }
    div.graphic {
        display: none;
    }
    /*-----ELEMENTS & CLASSES-----*/
    h1.title {
        font-size: 2.6rem;
        line-height: 3.8rem;
        margin-top: 5.7rem;
    }
    .body-text {
        width: 32.7rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-top: 1.6rem;
    }
    .button {
        position: unset;
        display: block;
        width: 32.7rem;
        height: 4.6rem;
        margin-top: 1.6rem;
        margin-right: 0;
    }
    img.apple {
        width: 4.5rem;
    }
    img.google {
        width: 7.3rem;
        height: 1.1rem;
    }
    img.pocket {
        width: 7.7rem;
    }
    img.spotify {
        width: 5.6rem;
    }
    input.form-field {
        width: 32.7rem;
        height: 4.6rem;
    }
    p.error-text {
        top: -3rem;
    }
}